pkgbase = awxLinuxInstaller
	pkgdesc = AwxLinux Installer
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/A-w-x/GPD-Linux-AUR-repo
	arch = x86_64
	license = GPL3
	depends = qt6-base
	source = https://github.com/A-w-x/GPD-Linux-AUR-repo/releases/download/awxLinuxInstaller/awxLinuxInstaller
	source = awxlinuxinstaller.desktop
	sha256sums = 39a2fb68d564098ed953656b6df9103a36fac66535aff77c50c7f2bc386cc370
	sha256sums = ad65e0ade3608426db8b69bf6c27ef768201e3f6ea11e70a8a538b3f05f63bea

pkgname = awxLinuxInstaller
