pkgbase = awxLinuxInstaller
	pkgdesc = AwxLinux Installer
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/A-w-x/GPD-Linux-AUR-repo
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = parted
	makedepends = procps-ng
	depends = qt6-base
	source = git+https://github.com/A-w-x/GPD-Linux-AUR-repo.git
	source = awxlinuxinstaller.desktop
	sha256sums = SKIP
	sha256sums = ad65e0ade3608426db8b69bf6c27ef768201e3f6ea11e70a8a538b3f05f63bea

pkgname = awxLinuxInstaller
